/2013/norf/BIT2013_Gymnorf.csproj.user
/2013/norf/BIT2013_Gymnorf.sln
/2013/norf/BIT2013_Gymnorf.v12.suo
/2013/norf/bin/BIT2013_Gymnorf.dll
/2013/norf/bin/BIT2013_Gymnorf.dll.config
/2013/norf/bin/BIT2013_Gymnorf.pdb
/2013/norf/obj/Debug/BIT2013_Gymnorf.csproj.FileListAbsolute.txt
/2013/norf/obj/Debug/BIT2013_Gymnorf.csprojResolveAssemblyReference.cache
/2013/norf/obj/Debug/BIT2013_Gymnorf.dll
/2013/norf/obj/Debug/BIT2013_Gymnorf.pdb
/2013/norf/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/2013/norf/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/2013/norf/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/2013/norf/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
